@using ESD.Application.Models.ViewModels.ESDNghiepVu;
@model VMIndexLoaiChoNghiepVu
@{
    int stt = Model.LoaiChoNghiepVus.PageSize * (Model.LoaiChoNghiepVus.PageIndex - 1);
    var pageSizes = new[] { 10, 20, 30, 50, 100 };
}
<div class="table-responsive">
    <table class="table table-borderless table-space table-hover dataTable dtr-inline useTreegrid table-bid-custom" role="grid" data-tree="3">
        <thead class="thead-light">
            <tr class="elevation-1">
                <th class="pb-2 col-min">STT</th>
               
                <th class="text-center col-min">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="group-checkable custom-control-input" id="checkall" value="">
                        <label class="custom-control-label" for="checkall"></label>
                    </div>
                </th> 
                <th class="pb-2 m-w-100-px">Mã loại chó</th>
                <th class="pb-2 m-w-100-px">Tên loại chó nghiệp vụ</th>
                <th class="pb-2 m-w-300-px">Mô tả</th>
                <th class="pb-2 col-min text-center">Chức năng</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model.LoaiChoNghiepVus)
            {
                stt++;
                var editLink = $"/LoaiChoNghiepVu/Edit?id={item.ID}";
                <tr>
                    <td class="text-center">@stt</td>
                    <td class="text-center">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="checkboxes custom-control-input" id="role-@item.ID" data-id="@item.ID" value="@item.ID">
                            <label class="custom-control-label" for="role-@item.ID"></label>
                        </div>
                    </td>
                    
                    <td>@item.Code</td>
                    <td>@item.Ten</td>
                    <td>@item.MoTa</td>
                    
                    <td class="text-center">
                        <div class="d-flex is-btn-action">
                            <a title="Sửa" class=" quickUpdate" href="@editLink"
                           data-target="#mdIULoaiChoNghiepVu" data-toggle="tooltip" data-original-title="Sửa">
                                <i class="fas fa-fw fa-edit"></i>
                            </a>
                            <a title="Xoá" data-comfirm-message="Xoá loại chó nghiệp vụ: Bạn có chắc chắn muốn xoá loại chó nghiệp vụ này?" class=" quickDelete" href="/LoaiChoNghiepVu/Delete?id=@item.ID" data-id="@item.ID"
                           data-toggle="tooltip" data-original-title="Xóa">
                                <i class="fas fa-fw fa-trash-alt"></i>
                            </a>
                        </div>
                </tr>
            }

        </tbody>
    </table>
</div>

@await Html.PartialAsync("_PagingFooter", Model.LoaiChoNghiepVus, new ViewDataDictionary(this.ViewData) { { "TargetForm", "frmLoaiChoNghiepVu" } })