@using ESD.Application.Enums.DasKTNN;
@using ESD.Application.Models.ViewModels.ESDNghiepVu;
@model VMReportDonViNghiepVu
@{
    int stt = Model.DonViNghiepVus.PageSize * (Model.DonViNghiepVus.PageIndex - 1);
    var pageSizes = new[] { 10, 20, 30, 50, 100 }; 
}
<div class="table-responsive">
    <table class="table table-borderless table-space table-hover dataTable dtr-inline useTreegrid table-bid-custom" role="grid" data-tree="3">
        <thead class="thead-light">
            <tr class="elevation-1">
                <th class="pb-2 col-min">STT</th>
                <th class="pb-2 m-w-100-px">Mã @Model.TenPhanLoai</th>
                <th class="pb-2 m-w-200-px">Tên @Model.TenPhanLoai</th>
                <th class="pb-2 m-w-200-px">Tổng số lượng</th>
                <th class="pb-2">Số lượng hi sinh</th>
                <th class="pb-2">Số lượng thải loại</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model.DonViNghiepVus)
            {
                stt++;
                var editLink = $"/DonViNghiepVu/Edit?id={item.ID}";
                <tr>
                    <td class="text-center">@stt</td>
                    
                    <td>@item.Code</td>
                    <td>@item.Ten</td>
                    <td>@item.SoDongVatNghiepVu</td>
                    <td>@item.Chet</td>
                    <td>@item.ThaiLoai</td>
                </tr>
            }

        </tbody>
    </table>
</div>

@await Html.PartialAsync("_PagingFooter", Model.DonViNghiepVus, new ViewDataDictionary(this.ViewData) { { "TargetForm", "frmDonViNghiepVu" } })