@{

    var lowerMenuName = Model.SearchParam.MenuTypeName.ToLower();
    var title = $"Danh sách {lowerMenuName}";
    ViewData["Title"] = title;
    var breadcrum = new Dictionary<string, string>();
    breadcrum.Add("/InputInfo", title);

    ViewBag.Breadcrumb = new List<string> { "Quản lý nghiệp vụ", "Quản lý động vật", $"Danh sách {title}" };
    ViewData["PageHeaderContent"] = "InputInfo";
    Layout = "~/Views/Shared/_LayoutCus.cshtml";
}
@using ESD.Application.Enums.DasKTNN;
@using ESD.Application.Models.ViewModels.ESDNghiepVu
@using ESD.Domain.Models.ESDNghiepVu
@using ESD.Utility.Helper;
@using ESD.Utility;
@using Microsoft.AspNetCore.Mvc.Rendering;
@model VMIndexDongVatNghiepVu
@{
    var searchParam = Model.SearchParam;

    var lstDvQl = Model.DonViNghiepVus.Where(n => n.PhanLoaiDonVi == (int)PhanLoaiDonVi.DVNghiepVu).OrderBy(n => n.Ten).Select(n => new SelectListItem
            {
                Text = n.Ten.ToString(),
                Value = n.ID.ToString(),
                Selected = n.ID == searchParam.IDDonViQuanLy
            }).ToList();


    var lstCanBo = Model.ThongTinCanBos.OrderBy(n => n.TenCanBo).Select(n => new SelectListItem
            {
                Text = n.TenCanBo.ToString(),
                Value = n.ID.ToString(),
                Selected = n.ID == searchParam.IDCanBo
            }).ToList();


    var lstType = Utils.EnumToDic<PhanLoaiDVNV>().Select(n => new SelectListItem
            {
                Text = n.Value.ToString(),
                Value = n.Key.ToString(),
                Selected = searchParam.Loai == n.Key
            }).ToList();

    if (Model.IsKhaiBaoMat)
    {
        lstType = lstType.Where(n => n.Value != ((int)PhanLoaiDVNV.BinhThuong).ToString()).ToList();
    }

    var isCreate = Model.IsKhaiBaoMat == false;
}


<div class="container pt-30">
    <div class="box-wrap-cs mb-15 dataTables_wrapper">
        <form asp-action="SearchByCondition" id="frmDongVatNghiepVu" role="form" method="post" class="quickSearch" data-target="#divDongVatNghiepVus">
            <div class="row row-ip">
                <div class="col-md-4 align-items-center d-flex col-ip-12">
                    <p class="is-header-table-search"><span>@ViewData["Title"]</span></p>
                    <input type="hidden" name="Type" value="@searchParam.Type" />

                </div>
                <div class="col-md-8 col-ip-12">
                    <div class="pull-right input-group-sm mb-3">
                        <div class="form-group w-200 pr-2">
                            @Html.CusDropdownListSelect2("", "IDDonViQuanLy", "--Chọn đơn vị--", lstDvQl, new { @class = "select2 w-200", @data_placeholder = "--Chọn đơn vị--" })
                        </div>
                        <div class="form-group pr-2">
                            @Html.CustTexBox("srKeyword", "Keyword", searchParam.Keyword, "Từ khóa", "Tên/mã động vật nghiệp vụ", false, new { }, false)
                        </div>


                        <button class="btn btn-sm ml-5" type="button" id="dataFilter_Dropdown" title="Tìm kiếm nâng cao" style="background-color: #eef2f5; border-radius: 6px;">
                            <i class="fa fa-filter" style="color: #5e6278"></i>
                        </button>

                        <button type="submit" class="btn btn-sm btn-primary ml-5">Tìm kiếm</button>

                        <a class="btn-icon-search quickDeletes ml-28 text-danger actMultiTicks hidden" data-url="/DongVatNghiepVu/Deletes"
                           tabindex="0" data-type="@searchParam.Type"
                           data-comfirm-message="Xoá nhiều động vật nghiệp vụ: Bạn có muốn xoá {n} động vật nghiệp vụ đã chọn?" title="Xóa">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                        @if (isCreate)
                        {
                            <a class="btn-icon-search quickUpdate ml-5 text-success" tabindex="0"
                           data-type="@searchParam.Type"
                           href="/DongVatNghiepVu/Create" data-target="#mdIUDongVatNghiepVu" aria-controls="data_table" title="Khai báo">
                                <i class="fas fa-plus"></i>
                            </a>
                        }
                        <a class="btn-icon-search quickExport ml-5 text-success" tabindex="0" href="#" action="/DongVatNghiepVu/Export" data-target="#frmDongVatNghiepVu" aria-controls="data_table" title="Xuất file">
                            <i class="bid-icons bid-icon-csv"></i>
                        </a>
                    </div>
                </div>
                <div class="dropdown-menu dataFilter_Dropdown_target">
                    <div class="dropdown-menu-content">
                        <a href="#" title="Đóng" class="dataFilter_Dropdown_close"><i class="fa fa-times-circle"></i></a>
                        <div class="col-xs-12">
                            <div class="row">
                                @if (Model.IsKhaiBaoMat)
                                {
                                    <div class="col-md-3 DropdownFilter_item">
                                        @Html.CusDropdownListSelect2("", "Loai", "--Chọn loại--", lstType, new { @class = "select2 w-150", @data_placeholder = "--Chọn loại--" })
                                    </div>
                                }
                                <div class="col-md-3 DropdownFilter_item">
                                    @Html.CusDropdownListSelect2("", "IDCanBo", "--Chọn cán bộ--", lstCanBo, new { @class = "select2 w-200", @data_placeholder = "--Chọn cán bộ--" })
                                </div>

                                <input type="hidden" name="PhanLoai" value="@(searchParam.PhanLoai.IsNotEmpty() ? string.Join(",",searchParam.PhanLoai ): "0")" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="card card-danger card-outline card-outline-tabs rounded-0 border-0 elevation-0 bg-transparent mt-15">
            <div class="card-body p-0">
                <div id="divDongVatNghiepVus">
                    @await Html.PartialAsync("Index_DongVatNghiepVus", Model)
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <div class="modal fade" id="mdIUDongVatNghiepVu" aria-labelledby="DongVatNghiepVuModalTitle" aria-hidden="true"></div>
    <script src="~/js/controller/DongVatNghiepVuController.js" asp-append-version="true"></script>
    <script type="text/javascript">
        InitDongVatNghiepVu();
    </script>

}


